html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #404040;
}

body {
    padding: 0 0rem;
    margin: 0 auto;
    background-color: #ffffff;
}

a {
    color: #f77b12;
}


footer {
    text-align: center;
    margin: 3rem 0;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}